<!doctype html>
<html lang="en">
  <head>
<meta charset="utf-8">
  <title>World Cup</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  
  
  
      <link rel = "stylesheet"
      type = "text/css"
      href = "style.css" />
      
      

       <!-- <svg class="bar-chart"></svg> --> 
        
       <script src="https://d3js.org/d3.v4.min.js"></script>
       
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Fifa Clubs</title>
<script class=playertable>
  
// Country data
var data = {{dat}};
tablestart='<table class="table table-dark"><thead><tr><th scope="col">Name</th><th scope="col">Age</th><th scope="col">Photo</th><th scope="col">Country</th></tr></thead><tbody>'

optn="";
x=tablestart;
var clubarr=[];
       
	   
for (i in data) {
	x += '<tr><td scope="row">'+data[i].Name+'</td><td>'+data[i].Age+'</td><td><img src="'+data[i].Photo+'"></td><td>'+data[i].Country+'</td></tr>';

	if (clubarr.includes(data[i].Value) != 1) {
	 clubarr.push(data[i].Value);
	 optn+='<option value="'+data[i].Value+'">'+data[i].Value+'</option>';
	}
}

x+='</tbody></table>';


$(document).ready(function(){


 $("#demor").html(x);
 $("#clubs").html(optn);
});

function refinedata(clubname) {
    var tableinfo="";
	var latln=[];
	var lat="";
	var lon="";
	
	for (i in data) {
        if (data[i].Value==clubname){
            tableinfo += '<tr><td scope="row">'+data[i].Name+'</td><td>'+data[i].Age+'</td><td><img src="'+data[i].Photo+'"></td><td>'+data[i].Country+'</td></tr>';
			var marker = L.marker([data[i].Location.replace('"', ""), data[i].Club.replace('"', "")], {title: data[i].Name}).addTo(myMap);
			
        }
    }

    $("#demor").html('');
    $("#demor").html(tablestart+tableinfo+'</tbody></table>');
}
	
</script>  
  </head>
  <body>
     
    <style>
        .circle {
          position: relative;
          width: 200px;
          height: 0;
          padding: 100px 0;
          border-radius: 100px;
          background: #0074D9;
          color: white;
          font-family: Helvetica, Arial Black, sans;
          font-size: 48px;
          text-align: center;
          margin-top: 50px;
          margin-left: 40px;
          
          
        }
        </style>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <!--Nav Bar-->
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
      
      <a class="navbar-brand" href="#"><img src="/static/fifa_logo.png" style="width:92px;height:65px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
			<div class="card-body">
                  <h5 class="card-title">FOOTBALL CLUBS
                  </h5>
				  <select id="clubs" onchange="refinedata(this.value)">
                </select>
                  <!-- <p class="card-text"> Location: Barcelona, Catalonia, Spain</p> -->
                </div>
          </li>
       
        </ul>
		
      </div>
    </nav>

  <table style="width:100%;height:100%;" border=1>
  <tr>
  <td><div class="container">
      <div class="row-table">  
        <div class="col" id='demor'> 
      
        </div>
        <!-- <div class="col"> 
            <div class="circle"><h1>$100M
              </h1></div> -->
        </div> 
      </div></td><td> <div class="col"> <div id="map" class="map"> 
            <img src="Map_template.png" style="width:600px;height:500px"class="img-thumbnail float-right" alt="...">
          </div></td>
  </tr>
  </table>
       
        </div>
      </div> 
    </div>
    <script> 	


var myMap = L.map("map", {
  center: [15.5994, -28.6731],
  zoom: 3
});

var API_KEY = 'pk.eyJ1IjoiZWxtYWRkaW5rYXJpbW92IiwiYSI6ImNqdnI4M3VocjJycnc0M211bWxwYTd3aXQifQ.If0Cc0NHdFbU4ojaK0gTog';

L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}", {

 //attribution: "Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>",
 maxZoom: 18,
 id: "mapbox.streets-basic",
 accessToken: API_KEY
}).addTo(myMap);


 </script>	
  

    
    </div>




      <link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.6.0/holder.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>


</h1></div>

<p> 
  By Rustem, Elmaddin and Shaun!!!
</p>
  </body>
</html>